<div class="header">VOCABULARIO</div>
<div class="container">
    <select class="select" (change)="selectOption($event.target.value)">
        <option value="all">Todos</option>
        <option *ngFor="let category of categories" [value]="category.categoryValue">{{category.categoryName}}</option>
      </select>
    <div *ngIf="currentWord" class="word">{{currentWord.word}}</div>
    <input class="solution" [(ngModel)]="solution" (keyup.enter)="verify()">
    <div class="action-buttons">
        <button class="button" (click)="verify()">Verify</button>
        <button class="button" (click)="next()" [disabled]="disableNext" [class.button--disabled]="disableNext">{{random ? 'Random' : 'Next'}}</button>
    </div>
    <div *ngIf="correct" class="correct">Correct!</div>
    <div *ngIf="correct === false" class="wrong">Wrong. Correct is: <span class="wrong-solution">{{currentWord.translation}}</span></div>
</div>
